/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== Margin Bottom ==========*/
/*========== z index ==========*/
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* Responsive typography */
/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  background: #0d192b;
  color: #8bacda;
}

h1,
h2,
h3,
h4 {
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3.75rem 0 2rem;
}

.section__title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 350px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
  /*For animation*/
}

.card__container {
  padding: 1.5rem;
  background-color: #14253d;
  border-radius: 1rem;
  position: relative;
  row-gap: 1.5rem;
  -webkit-box-shadow: 15px 20px 15px #0d192b, -15px 20px 15px #0d192b, 15px 20px 25px #14253d, -15px 20px 25px #14253d;
          box-shadow: 15px 20px 15px #0d192b, -15px 20px 15px #0d192b, 15px 20px 25px #14253d, -15px 20px 25px #14253d;
  margin-bottom: 2rem;
}
.card__img {
  position: relative;
  cursor: pointer;
}
.card__img--1 {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__img--2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
}
.card__img:hover .card__overlay {
  opacity: 0.6;
}
.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #00fff7;
  border-radius: 0.5rem;
}
.card__data {
  row-gap: 1rem;
}
.card__data--title {
  font-size: 1.25rem;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.card__data--title:hover {
  color: #00fff7;
}
.card__data--description {
  font-size: 0.938rem;
  font-weight: 300;
}
.card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__prices--img {
  height: 1rem;
}
.card__prices--price {
  color: #00fff7;
  font-size: 0.938rem;
}
.card__prices--content, .card__prices--estimate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.card__line {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #2f415b;
}
.card__creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.card__creation--img {
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
}
.card__creation--caption {
  font-size: 0.938rem;
}
.card__creation--caption span {
  color: white;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card__creation--caption span:hover {
  color: #00fff7;
}

.footer__card {
  text-align: center;
}
.footer__img {
  width: 0.9rem;
  cursor: pointer;
  -webkit-animation: love 2s infinite;
          animation: love 2s infinite;
}

@-webkit-keyframes love {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes love {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (min-width: 321px) {
  .container {
    max-width: 300px;
  }

  .card {
    margin: 50px auto;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}/*# sourceMappingURL=styles.css.map */